@import '../../styles/components/button.scss';
@import '../../styles/variables.scss';

.item {
    padding: 10px;
    margin: 10px;
    background-color: $opacity;
    width: 250px;
    img {
        margin: 5px 0;
        height: 180px;
        width: 130px;
    }
    button {
        @include button;
        margin: 5px 5px 10px 0;
        padding: 5px;
        width: 35px;
        height: 35px;
        font-size: 1rem;
        &:hover {
            background-color: white;
        }
        &:disabled {
            pointer-events: none;
        }
    }
        .title {
            font-weight: bold;
            font-size: 1.3rem;
        }
        .inform {
            .amount {
                font-weight: bold;
            }
            .previewLink {
                margin-top: 10px;
                margin-bottom: $bottom;
                font-size: 1.2rem;
                .bookpage {
                    text-decoration: none;
                    color: black;
                    transition: $transition;
                    &:hover {
                        color: white;
                    }
                }
          }
    }
}