@import '../../styles/button.scss';
@import '../../styles/variables.scss';

.title {
    font-size: 2rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
        display: flex;
        align-items: center;
    }
    p {
        font-size: 1rem;
    }
}

.items {
    display: flex;
    flex-flow: row wrap;
    margin: 50px;
}

.total {
    padding: 10px;
    margin: 20px 0 20px 60px;
    font-size: 1.5rem;
    background-color: white;
    width: 250px;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
.back {
    @include button;
    padding: 0.5rem;
    margin: 0 0 50px 60px;
    transition: $transition;
    &:hover {
        color: white;
    }
}

.clear {
    @include button;
    transition: $transition;
    margin: 0 50px 50px 0;
    padding: 0.5rem;
    &:hover {
        color: white;
    }
}
}