@import '../../../styles/variables.scss';

.dropdown {
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  background-color: $maincolor;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;
  margin-right: 20px;
  .order {
    display: flex;
    align-items: center;
  }
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  @media screen and (max-width: 390px) {
    margin-right: 5px;
  }

  &:focus-within .list,
  &:hover .list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: rgb(225, 204, 189);
    min-width: 100px;
    border-radius: 8px;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    box-sizing: border-box;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      li {
        padding: 10px;
        list-style-type: none;
        transition: $transition;
        border-radius: 8px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}
