@import '../../../styles/variables.scss';

.dropdown {
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  background-color: rgb(245, 245, 245);
  box-shadow: $shadow;
  border-radius: 8px;
  box-sizing: border-box;
  margin-right: 20px;
  transition: $transition;
  border: 1px solid rgba(200, 200, 200, 0.5);
  min-width: 100px;
  &:hover {
    background-color: $main-color;
  }
  .order {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 430px) {
    margin-right: 6px;
  }

  .list {
    position: absolute;
    background-color: rgb(245, 245, 245);
    width: max-content;
    border-radius: 8px;
    box-shadow: $shadow;
    top: 40px;
    left: 0;
    box-sizing: border-box;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      li {
        padding: 12px 18px;
        list-style-type: none;
        transition: $transition;
        border-radius: 8px;
        &:hover {
          background-color: $main-color;
        }
      }
    }
  }
}
