@import '../../styles/variables.scss';

.notFavorites {
  padding: 50px;
  text-align: center;
}

.icon {
  font-size: 20rem;
  color: #c8c8c880;
}

.backButton {
  margin-top: 30px;
  padding: 10px;
}
