@import '../../styles/variables.scss';

.notfav {
  padding: 3rem;
  text-align: center;
  .icon {
    font-size: 20rem;
    color: white;
  }
  p {
    font-size: 20px;
  }
  .back {
    font-size: 1.5rem;
    margin-top: 30px;
    padding: 10px;
  }
}
