@import '../../../styles/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0 10px 0;
  button {
    margin: 3px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;
    &:disabled {
      .arrow {
        color: rgba(255, 255, 255, 0.388);
      }
    }
    .arrow {
      color: rgb(117, 112, 107);
    }
  }
  .first {
    font-size: 15px;
  }
}

.page {
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
  }
}
