@import '../../../styles/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0 10px 0;
  button {
    margin: 3px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;
    .arrow {
      color: black;
    }
  }
  .first {
    font-size: 15px;
  }
}

.page {
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 8px;
    box-shadow: $shadow;
  }
}
