@import '../../styles/components/modal.scss';
@import '../../styles/components/button.scss';
@import '../../styles/variables.scss';

.modal {
    @include modal;
    .content {
        background-color: rgb(216, 199, 188);
        width: 350px;
        height: 200px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.2rem;
        border-radius: 8px;
        .close {
            height: 30px;
            width: 30px;
            font-size: 13px;
        }
        .top {
            text-align: center;
            margin-bottom: 10px;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
        }
        button {
            @include button;
            width: 80px;
            font-size: 1.1rem;
            padding: 6px;
            transition: $transition;
             &:hover {
                background-color: rgba(255, 255, 255, 0.9);
            }
            }
        }
        }
