@import '../../styles/components/popup.scss';

.language {
    @include popup;
    @media screen and (max-width: 820px) {
        font-size: 13px;
    }
    .title {
        display: flex;
        @media screen and (max-width: 820px) {
            font-size: 13px;
        }
    }
}