* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 15px;
}

body {
  background-color: rgb(216, 199, 188);
}

a {
  text-decoration: none;
  color: black;
}
