$shadow: 0 4px 8px rgba(60, 60, 60, 0.1);
$transition: all 0.3s ease-in-out;
$main-color: rgb(163, 145, 133);
$background-color: rgb(245, 245, 245);
$opacity: rgba(255, 255, 255, 0.5);
$fav-icon: rgba(216, 216, 216);
