.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding: 7rem;
    .spinner {
        font-size: 5rem;
        animation: spin 2s linear infinite;
      }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }