@import '../../../styles/variables.scss';

.button {
  color: black;
  border: none;
  background-color: $maincolor;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  &:disabled {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  &:focus {
    box-shadow: 0 0 0 2px rgb(190, 169, 156);
  }
  &:active {
    border: none;
  }
}
