@import '../../styles/variables.scss';

.customModal {
  width: 70%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  .top {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  button {
    width: 80px;
    font-size: 1.1rem;
    padding: 6px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}
