@import '../../styles/variables.scss';

.item {
  padding: 10px;
  margin: 10px;
  background-color: $opacity;
  width: 250px;
  border-radius: 8px;
  img {
    margin: 5px 0;
    height: 180px;
    width: 130px;
    border-radius: 8px;
  }
  button {
    margin: 5px 5px 10px 0;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }
  .title {
    font-weight: bold;
  }
  .inform {
    .amount {
      font-weight: bold;
    }
    .previewLink {
      margin-top: 10px;
      margin-bottom: $bottom;
      .bookpage {
        text-decoration: none;
        color: black;
        transition: $transition;
      }
    }
  }
}
