@import '../../styles/variables.scss';

.header {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/header-background.jpg');
    background-size: cover;
    flex-wrap: wrap;
    overflow: auto;
    .logo {
        color: rgb(158, 128, 111)
    }
    .title {
        margin: 50px;
        background-color: $opacity;
        min-width: 250px;
    }
}