@import '../../styles/variables.scss';

.header {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow;
  border-radius: 8px;
  flex-wrap: wrap;
  .logo {
    color: $main-color;
  }
  .title {
    margin: 50px;
    padding: 10px;
    background-color: $opacity;
    min-width: 250px;
    border-radius: 8px;
    box-shadow: $shadow;
    h1 {
      font-size: 25px;
      color: rgb(50, 50, 50);
    }
    h4 {
      font-size: 10px;
    }
  }
}
