@import '../../styles/variables.scss';

.title {
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  .icon {
    display: flex;
    align-items: center;
  }
  p {
    font-size: 10px;
  }
}

.items {
  display: flex;
  flex-flow: row wrap;
  margin: 50px;
}

.total {
  padding: 10px;
  margin: 20px 0 20px 60px;
  background-color: white;
  box-shadow: $shadow;
  width: 250px;
  text-align: center;
  display: flex;
  border-radius: 8px;
}

.bottomBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .backButton {
    padding: 10px;
    margin: 0 0 50px 60px;
    font-size: 13px;
    a {
      transition: $transition;
    }
  }

  .clearButton {
    display: flex;
    align-items: center;
    margin: 0 50px 50px 0;
    padding: 10px;
    font-size: 13px;
  }
}
