@import '../../styles/variables.scss';

.card {
  margin-bottom: $bottom;
  text-align: center;
  transition: $transition;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  img {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    height: 180px;
    width: 130px;
    cursor: pointer;
    border-radius: 8px;
  }
  .addtofav {
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 3px;
    color: rgba(216, 216, 216);
    &:hover {
      color: $maincolor;
      transform: translateY(-2px);
    }
  }
  .added {
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 3px;
    color: $maincolor;
  }
  .inform {
    .author {
      font-size: 10px;
    }
    .amount {
      font-size: 15px;
    }
  }
}
