@import '../../styles/components/button.scss';
@import '../../styles/variables.scss';
@import '../../styles/components/modal.scss';

.overlay {
    @include modal;
    .inner {
        background-color: rgb(216, 199, 188);
        width: 800px;
        height: 600px;
        padding: 20px;
        box-sizing: border-box;
        overflow: auto;
        border-radius: 8px;
        .close {
            @include button;
            font-size: 13px;
            width: 35px;
            height: 35px;
            margin-bottom: $bottom;
            &:hover {
                background-color: white;
            }
        }
        .back {
            @include button;
            font-size: 13px;
            width: 35px;
            height: 35px;
            margin-left: 5px;
            margin-bottom: $bottom;
            &:hover {
                background-color: white;
            }
        }
        .inform {
          display: flex;
          justify-content: space-evenly;
          img {
            border-radius: 8px;
          }
        .info {
            margin-bottom: $bottom;
            .buttons {
                display: flex;
                .page {
                    @include button;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 110px;
                    height: 40px;
                    margin: 5px 5px 0 0;
                    font-size: 15px;
                    &:hover {
                        background-color: white;
                    }
                    .icon {
                        font-size: 18px;
                    }
                }
            }
            .add, .added {
                @include button;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 225px;
                height: 40px;
                margin-top: 5px;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: white;
                }
            }               
            .added {
                background-color: $maincolor;
                &:hover {
                  background-color: lighten($maincolor, 10%);
                }
            }
         }
        img {
            width: 150px;
            height: 200px;
            margin-right: 20px;
            margin-bottom: $bottom;
        }
        }
    }
}
