@import '../../styles/components/button.scss';
@import '../../styles/variables.scss';
@import '../../styles/components/modal.scss';

.overlay {
    @include modal;
    .inner {
        background-color: rgb(216, 199, 188);
        width: 750px;
        height: 500px;
        padding: 20px;
        box-sizing: border-box;
        overflow: auto;
        .close {
            @include button;
            font-size: 13px;
            width: 35px;
            height: 35px;
            margin-bottom: $bottom;
            &:hover {
                background-color: white;
            }
        }
        .inform {
          display: flex;
          justify-content: space-evenly;
        .info {
            margin-bottom: $bottom;
            .page,
            .added {
                @include button;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 40px;
                margin-top: 5px;
                &:hover {
                    background-color: white;
                }
            }        
         }
        img {
            width: 150px;
            height: 200px;
            margin-right: 20px;
            margin-bottom: $bottom;
        }
        }
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
    }


@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
    }
