@import '../../styles/button.scss';
@import '../../styles/variables.scss';

.overlay {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(150deg, rgba(1, 1, 1, 0.1), rgba(138, 113, 113, 0.1));
    display: flex;
    align-items: center;
    justify-content: center;
    animation: zoomIn 0.5s forwards;
    .inner {
        background-color: rgb(216, 199, 188);
        width: 700px;
        height: 500px;
        padding: 1.5rem;
        position: relative;
        box-sizing: border-box;
        overflow: auto;
        font-size: 1rem;
        .close {
            @include button;
            margin-bottom: $bottom;
            width: 35px;
            height: 35px;
        }
        .inform {
          display: flex;
          justify-content: space-evenly;
        .info {
            margin-bottom: $bottom;
            .added {
                display: flex;
                align-items: center;
            }
         }
        img {
            width: 150px;
            height: 200px;
            margin-right: 20px;
            margin-bottom: $bottom;
        }
        }
        .page,
        .added {
            @include button;
            width: 200px;
            height: 40px;
            text-align: center;
            padding: 0.5rem;
            margin-top: 5px;
            margin-bottom: $bottom;
        }        
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
    }
