@import '../../styles/variables.scss';

.footer {
  background-color: rgb(147, 131, 120, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  .title {
    font-size: 18px;
  }
  a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }
  .bottom {
    font-size: 10px;
  }
}
