@import '../../styles/variables.scss';

.footer {
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  gap: 10px;
  .title {
    font-size: 18px;
    padding: 5px;
  }
  a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }
  .bottom {
    font-size: 10px;
  }
}
