@import '../../styles/components/button.scss';
@import '../../styles/variables.scss';

.search {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
       width: 500px;
       height: 50px;
       padding: 0 8px;
       margin: 0 8px;
       border: none;
       &:focus {
        outline: none;
       }
    @media screen and (max-width: 430px) {
        width: 250px;
    }
}
    button {
        @include button;
        height: 50px;
        padding: 0.5rem;
        display: flex;
        justify-content:center;
        align-items: center;
        transition: $transition;
        &:hover {
            color: white;
        }
        @media screen and (max-width: 430px) {
            width: 50px;
            font-size: 13px;
        }
    }
    .clear {
        position: relative;
        text-align: center;
        right: 45px;
        bottom: 13px;
        .clearicon {
            position: absolute;
            font-size: 25px;
            opacity: 0.2;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
                color:  $maincolor;
            }
        }
    }
}
