@import '../../styles/variables.scss';

.search {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 500px;
    height: 50px;
    padding: 0 8px;
    margin: 0 8px;
    border: none;
    border-radius: 8px;
    &:focus {
      outline: none;
    }
    @media screen and (max-width: 430px) {
      width: 250px;
    }
  }
  button {
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;
    font-size: 20px;
    &:hover {
      background-color: rgb(255, 255, 255, 0.9);
    }
    @media screen and (max-width: 430px) {
      width: 50px;
      font-size: 13px;
    }
  }
  .clear {
    position: relative;
    text-align: center;
    right: 45px;
    bottom: 13px;
    .clearicon {
      position: absolute;
      font-size: 25px;
      opacity: 0.2;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        color: $maincolor;
      }
    }
  }
}
