* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 15px;
}

body {
    background-color: rgb(216, 199, 188);
}

.header {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('assets/images/header-background.jpg');
    background-size: cover;
    flex-wrap: wrap;
    margin: 0;
    overflow: auto;
}

.logo {
    color: rgb(180, 159, 145)
}

.titleRow {
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 500px;
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    border: none;
}

.search input:focus {
    outline: none;
}

.search button {
    height: 50px;
    padding: 0.5rem;
    border: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content:center;
    align-items: center;
}

.search button:active {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    border: 1px white solid;
}

 
@media screen and (min-device-width: 390px) and (max-device-width : 1024px) and (max-device-height: 932px) {

    .search input {
        width: 250px;
    }

    .search button {
        width: 40px;
        font-size: 10px;
    }

    .overlay-inner .description {
        width: 350px;
    }

    .overlay-inner .linkToPage {
        font-size: 12px;
    }
}

.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,0.5fr));;
    gap: 10px; 
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(147, 131, 120);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card {
    padding: 0.5rem;
    margin-bottom: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.9s forwards;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 180px;
}

.card .inform .title {
    font-size: 20px;
}

.card .inform .author {
    font-size: 15px;
}

.card .inform .amount {
    font-size: 17px;
}

.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(150deg, rgba(1, 1, 1, 0.1), rgba(138, 113, 113, 0.1));
    display: flex;
    align-items: center;
    justify-content: center;
    animation: zoomIn 0.5s forwards;
}

.overlay-inner{
    background-color: rgb(216, 199, 188);
    width: 700px;
    height: 500px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: auto;
    font-size: 1rem;
}

.overlay-inner .inform-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-inner .inform-box .info {
    margin-bottom: 10px;
}

.overlay-inner .inform-box img {
    width: 150px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.overlay-inner button {
    height: 40px;
    padding: 0.5rem;
    margin-right: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.overlay-inner button:active {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    border: 1px white solid;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
    }

    @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
      }
      }
