@import '../../styles/variables.scss';

.error {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.5rem;
  .back {
    padding: 0.5rem;
    margin-top: 30px;
    transition: $transition;
    font-size: 20px;
    &:hover {
      color: white;
    }
  }
}
